<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/DeviceStore"/>
                <property name="username" value="root"/>
                <property name="password" value="Kira202120"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--Here we need to insert all of our xml mappers for example SmartphoneMapper.xml-->
        <mapper class="org.example.interfaces.TabletMapper"/>
        <mapper class="org.example.interfaces.SmartwatchMapper"/>
        <mapper class="org.example.interfaces.LaptopMapper"/>
        <mapper class="org.example.interfaces.DeviceMapper"/>
        <mapper class="org.example.interfaces.SmartphoneMapper"/>
    </mappers>
</configuration>